{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "env": {
        "jest": true,
        "node": true
    },
    "rules": {
        "indent": ["error", 4],
        "no-trailing-spaces": "error",
        "quotes": ["error", "single"],
        "semi": "error",
        "arrow-spacing": "error",
        "no-var": "error",
        "prefer-const": "error"
    }
}
